@use "../base" as *;
main {
  padding-top: 150px;
  display: block;

  .input {
    // padding: 1/5px;
    .search {
      display: flex;
      width: 999px;
      padding: 24px;
      align-items: center;
      gap: 10px;
    }
  }
  .line {
    .posts {
      flex-direction: column;
      column-gap: 30px;
      justify-content: center;
      .card {
        padding: 20px;
        display: flex;
        // flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        &:hover {
          box-shadow: 3px 3px 15px 3px #6d6e76;
          border-radius: 3px;
          transition: 2s;
        }
        .post_img {
          img {
            width: 547.295px;
            height: 318px;
            flex-shrink: 0;
          }
        }
        .post_text {
          span {
            color: var(--Purple, #592ea9);

            /* Cap 1 */
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px; /* 125% */
            letter-spacing: 3px;
            text-transform: uppercase;
          }
          h2 {
            width: 673.388px;
            color: var(--Black, #191c37);

            /* Heading H2 */
            font-family: Sen;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px; /* 133.333% */
            letter-spacing: -2px;
          }
          p {
            width: 696.963px;
            color: var(--Medium-grey, #6d6e76);

            /* Body 1 */
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 175% */
          }
          h3 {
          }
        }
      }
    }
  }
}
