@forward "register";
@forward "login";
@forward "home";
@forward "category";
@forward "all-posts";
@forward "blog-post";
@forward "about";

main {
  .input {
    padding-left: 300px;
    padding-top: 130px;

    .in {
      display: flex;
      width: 768px;
      padding: 24px;
      align-items: center;
      gap: 10px;
      border-radius: 2px;
      border: 1px solid rgba(109, 110, 118, 0.5);
      justify-content: center;
      align-items: center;
      padding: 15px;
      //   padding-left: 300px;
    }
    .btn {
      color: var(--Black, #232536);
      font-family: Sen;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px; /* 133.333% */
      width: 768px;
      height: 64px;
      flex-shrink: 0;
      background: var(--Yellow, #ffd050);
    }
  }
}
